@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    background-color: #12131f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBar {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.headerLeft {
    width: 25%;
    display: flex;
    justify-content: start;
    padding-left: 3%;
}

.headerRight {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconImage {
    height: 100%;
}

.headerButton {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1%;
}

.headerButtonUnderline {
    background-color: aliceblue;
    width: 15%;
    height: 3px;
    border-radius: 25%;
    transition: width 0.25s ease;
}

.headerText {
    font-size: 1.3vw;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-align: center;
}

    .headerText:hover + .headerButtonUnderline {
        width: 70%;
    }