@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap');

body {
    background-color: #18121f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBar {
    width: 50%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.headerLeft {
    width: 25%;
    display: flex;
    justify-content: start;
    padding-left: 3%;
}

.headerRight {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconImage {
    height: 100%;
    transform: rotate(35deg);
}

.headerButton {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1%;
}

.headerButtonUnderline {
    background-color: aliceblue;
    width: 15%;
    height: 3px;
    border-radius: 25%;
    transition: width 0.25s ease;
}

.headerText {
    font-size: 1.3vw;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    text-align: center;
}

    .headerText:hover + .headerButtonUnderline {
        width: 70%;
    }

    .headerText:hover {
        transform: rotate(10deg)
    }

.weAre {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    margin-bottom: 1%;
}

.weAreText {
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    text-align: center;
}

#name {
    font-size: 3vw;
}

#team {
    font-size: 1.3vw;
}

.biggImage {
    width: 65%;
    height: 350px;
    object-fit: cover;
}

.boxes {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5%;
}

.leftBox {
    width: 45%;
    background-color: rgb(155, 160, 177);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem
}

    .leftBoxTitle {
        font-size: 1.7vw;
        font-family: 'Kanit', sans-serif;
        font-weight: 500;
        text-align: center;
        color: aliceblue;
        text-decoration: underline;
    }

    .leftBoxDesc {
        font-size: 1vw;
        font-family: 'Kanit', sans-serif;
        font-weight: 300;
        text-align: center;
        color: aliceblue;
        white-space: pre-line;
    }

.readMoreArea {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5%;
        margin-top: 1.5%;
        padding-right: 20%;
    }

    .readMoreButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b8518e;
        border-radius: 1rem;
        width: 25%;
        padding-top: 2%;
        padding-bottom: 2%;
        transition: color 0.2s ease;
    }

        .readMoreText {
            font-size: 0.9vw;
            font-family: 'Kanit', sans-serif;
            font-weight: 300;
            color: aliceblue;
            text-decoration: none;
        }

.rightBox {
    width: 45%;
}